<!--fixed-top -->
<nav class="navbar navbar-expand-md navbar-light navbar-custom border-bottom ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO</a>
     
      <svg class="ham hamRotate ham1 d-lg-none flex-column d-flex " viewBox="0 0 100 100" width="50" onclick="this.classList.toggle('active')" (click)="collapse=!collapse">
        <path
              class="line top"
              d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
        <path
              class="line middle"
              d="m 30,50 h 40" />
        <path
              class="line bottom"
              d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
      </svg>
    
      
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" [class.collapse]="collapse" (window:resize)="collapse = true">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/"    aria-current="page">Home</a>
          </li>
          <li class="nav-item"routerLinkActive="active">
            <a class="nav-link" routerLink="/gallery">Gallery</a>
          </li>
          <li class="nav-item dropdown" ngbDropdown routerLinkActive="active">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
              Cities
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Prizren</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Prishtina</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Gjakova</a>
            </div>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
        <form class="d-flex">
   
          <input nz-input placeholder="Search"  />
          <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="search" nzTheme="outline"></i></button>
      
        </form>
      </div>
    </div>
  </nav>

  




