<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          ><i nz-icon nzType="facebook" nzTheme="fill"></i></a>
  
        <!-- Twitter -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          ><i nz-icon nzType="twitter" nzTheme="outline"></i></a>
  
        <!-- Google -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating  text-dark m-1"
          href="#!"
          role=""
          ><i nz-icon nzType="google" nzTheme="outline"></i></a>
  
        <!-- Linkedin -->
        <a 
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          ><i nz-icon nzType="linkedin" nzTheme="fill"></i></a>
  
        <!-- Instagram -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          ><i nz-icon nzType="instagram" nzTheme="outline"></i></a>
        <!-- Github -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          ><i nz-icon nzType="github" nzTheme="fill"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.1);">
      © 2022 Copyright:
      <a class="text-dark" href="#">touristplaces.com</a>
    </div>
    <!-- Copyright -->
  </footer>