[nz-icon] {
    margin-right: 6px;
    font-size: 24px;
    /* border: none;
    outline: none; */
  }

/* .icons:focus{
    border: none;
    outline: none; 
} */


/* .icons:active{
  border: none;
  outline: none; 
} */