 html {
    background: #FAF7F2;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .u-clearfix:before,
  .u-clearfix:after {
    content: " ";
    display: table;
  }
  
  .u-clearfix:after {
    clear: both;
  }
  
  .u-clearfix {
    *zoom: 1;
  }
  
  .subtle {
    color: #aaa;
  }
  
  .card-container {
    margin: 25px auto 0;
    position: relative;
    width: 90%;
  }
  
  .card {
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, .07);
    z-index: 1;
  }
  
  .card-body {
    /* width: 310px; */
  }
  
  .card-number {
    margin-top: 15px;
    color:black;
    font-size: 20px;
  }
 
  /* .card-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline;
    line-height: 22px;
    font-size: 18px;
    height: 25px;
    text-align: center;
    width: 25px;
  } */

  
  .card-name {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
  }
   
  .card-description {
    display: inline-block;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }

  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
  }
   
  .card-tag {
    float: right;
    margin: 5px 0 0;
  }
   
  .card-media {
    /* float: right; */
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    /* height:auto; */
  
  }

  .card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
    height: 1px;
    margin: -1px auto 0;
    width: 100%;
    z-index: -1;
  }  
/* Tablets */
  @media screen and (max-width:900px){
    .card-media {
      width: 100%;
      height: auto;
    }
  }
/* Mobiles */
  @media screen and (max-width:390px){
    .card-media {
      width: 100%;
      height: auto;
    }
  }