 html {
    background: #FAF7F2;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .u-clearfix:before,
  .u-clearfix:after {
    content: " ";
    display: table;
  }
  
  .u-clearfix:after {
    clear: both;
  }
  
  .u-clearfix {
    *zoom: 1;
  }
  
  .subtle {
    color: #aaa;
    /* color: rgb(83, 83, 83); */
  }
  
  .card-container {
    /* margin: 25px auto 0; */
    position: relative;
    width: 90%;
    

  }
  
  .card {
    background-color: #fff;
    padding-top: 30px;
    position: relative;
    z-index: 1;
    border: none;
    
  }

  
  .card-number {
    margin-top: 15px;
    color:black;
    font-size: 20px;
  }
 
 

  
  .card-name {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;

  }
   
  .card-description {
    display: inline-block;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
    display: flex;
  }

  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
  }
   
  .card-tag {
    float: right;
    margin: 5px 0 0;
  }
   
  .card-media {
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    width: 50%;
    /* border: 1px solid #ddd; */
    border-radius: 4%;
  
  
  }

  .card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
    height: 1px;
    margin: -1px auto 0;
    width: 100%;
    z-index: -1;
  }  
  
  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    height: 100% !important;
    /* white-space: normal; */
    
  }
  .card-title{
    font-size: 25px;
  }
  h3{
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    
  }

  .images{
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 20%;
    margin-left: 30%;
    object-fit: cover;

  }
.imagesGeograpghy{
  width: 70%;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 20%;
  margin-left: 50px;

}
.history-card {
  display: flex;
  border: 4px solid black;
}

/* Tablets  */
    @media screen and (max-width:900px){
    .card-media {
      width: 100%;
      height: auto;
    }
   
  } 

  .limitTextHeight {
    height: 150px;
    overflow: hidden;
} 
.responsive{
  display: flex;
  flex-direction: row;
  padding: auto;
  align-items: center;
  margin: 10px 0 ;
}
@media screen and (max-width:48em) {
  .image-geography{
    order: 1;
  }
  .images{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 20%;
    margin-top: 5%;
    margin-left: 0%;
  }
  .imagesGeograpghy{
    width: 50%;
    height: 30%;
    margin-top: 5%;
    margin-left: 0%;

  }
  .card-container{
    width: 100%;
  }
}



/* CSS */
.btn {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: Trebuchet MS, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 44px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  transition:all 0.5s;
}

.btn:hover {
  background: #F6F9FE;
  color: #4d4d4d;
  transform: translateY(-5px);
}

.btn:active {
  outline: none;
}


.d-flex {
  margin: 0% auto;
  border: 1px solid black;
  height: 100%;
}
.tourist{
  width: 20rem;
  margin: 0% auto;
  align-items: center;
}



.card-img-top{
  border-radius: 10%;
  width:  300px;
  height: 250px;
  object-fit: cover;
 
}
/* Overlay images for tourist places */
.content {
  position: relative;
  width:  300px;
  height: 250px;
  /* margin: auto; */

}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
  border-radius: 10%;
}


.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details p{
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.fadeIn-top{
  top: 20%;
}

/* Modal style */
.modal-content {
  /* background-color:lightcyan; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (min-width:50em) {
  .modal-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}
}

.modal-body .modal-img{
  border-radius: 2%;
  width:  200px;
  height: 270px;
  object-fit: cover;
  flex-grow: 1;
 
}
.modal-body .description-style{
  text-align: left;
  padding-left: 15px;
  font-family: serif;
  font-size: 18px;
  flex-grow: 2;
  flex-shrink: 1;
}