<div class="container" style="margin-top:5% ;">

        <div class="card-container">
            <div class="card u-clearfix">
              <!-- <div class="card-body"> -->
                <!-- <span class="card-number subtle">{{city.id}}</span> -->
                <div class="row">
                  <h2 class="card-name">{{city.name}}</h2>
                  <span class="card-description subtle">{{city.description}}</span>
                  <div class="card-read">Read</div>
                  <img src="{{city.imagePath}}" alt="" class="card-media" />

                </div>

                <!-- HISTORY -->
                <div class="row" *ngFor="let history of city.history">
                  <div class="history-card col-5" >

                      <h3>History</h3>
                      <hr>
                      <span class="card-description subtle" [ngClass]="{'limitTextHeight': isReadMore}" >{{history.description}}</span>

                      <button type="button" class="btn" (click)="showText()">
                        {{ isReadMore ? 'Read More': 'Read Less' }}
                      </button>
                  </div>
               
                  <div class="col-7" >
                    <img src="{{history.image}}"  class="images"alt="">
                  </div>
                </div>

                <!-- GEOGRAPHY -->

                <div class="row" *ngFor="let geography of city.geography">

                  <div class="col-7" >
                    <img src="{{geography.image}}"  class="imagesGeograpghy"alt="">
                  </div>


                  <div class="history-card col-5" >

                      <h3>Geography</h3>
                      <hr>
                      <span class="card-description subtle">{{geography.description}}</span>

                    
                  </div>
               
                 
                </div>
              
             </div>
            </div>
          <div class="card-shadow" style="margin-bottom:10% ;"></div>
         

</div>
  



