<div class="container" style="margin-top:5% ;">

        <div class="card-container">
            <div class="card u-clearfix">
              <!-- <div class="card-body"> -->
                <!-- <span class="card-number subtle">{{city.id}}</span> -->
                <div class="row responsive" >
                  <h2 class="card-name">{{city.name}}</h2>
                  <span class="card-description subtle">{{city.description}}</span>
                  <div class="card-read">Read</div>
                  <img src="{{city.image}}" alt="" class="card-media" />
                </div>


                   <!-- HISTORY -->
                <h3 style="padding-top:10% ;">History</h3>
                <hr>
                <div class="row responsive">
                  <div class="col-xl-5  col-lg-5  col-md-5 col-sm-12">
                      <p class="card-description subtle" [ngClass]="{'limitTextHeight': isReadMore}" >{{city?.history?.description}}</p>
                      <button type="button" class="btn" (click)="showText()">
                        {{ isReadMore ? 'Read More': 'Read Less' }}
                      </button>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 " >
                    <img src="{{city?.history?.image}}"  class="images"alt="">
                  </div>
                </div>
        
                
                <!-- GEOGRAPHY -->
                <h3 style="padding-top:10% ;">Geography</h3>
                <hr>
                <div class="row responsive" >

                  <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 image-geography">
                    <img src="{{city?.geography?.image}}"  class="imagesGeograpghy"alt="">
                  </div>

                  <div class="col-xl-5  col-lg-6  col-md-6 col-sm-12" >
                      <p class="card-description subtle">{{city?.geography?.description}}</p>
                  </div>
                </div> 
            
              </div>
            </div>
          <!-- <div class="card-shadow" style="margin-bottom:10% ;"></div> -->

              <!-- TOURIST PLACES -->

               <div class="text-center row " *ngIf="city.touristPlaces">
                    
                    <h3 style="margin-top:50px ;" >Top Attractions in {{city.name}}  </h3>                
                    <div class="card tourist " *ngFor="let touristPlace of city.touristPlaces; let i= index">
                      <div class="content">
                        <a data-toggle="modal" data-target="#myModal" (click)="toAccessId(touristPlace)">
                          <div class="content-overlay"></div>
                            <img src="{{touristPlace.image}}" class="card-img-top" alt="{{touristPlace.name}}" >

                            <div class="content-details fadeIn-top">
                              <p>Click for more</p>
                            </div>
                       </a>
                      </div>
                        <div class="card-body">
                        <h5 class="card-title ">{{touristPlace.name}}</h5>                      
                      </div>

                  </div>

              <!-- Modal -->
                <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" >{{touristPlaceDetail.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="img-style">
                            <img src="{{touristPlaceDetail.image}}" alt="" class="modal-img">
                        </div>
                        <div class="description-style">
                          
                        <span >
                          {{touristPlaceDetail.description}}
                        </span> 
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
        </div>        
  </div>
  




          

                  
                
         

  



