
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>
<div class="flex">
    <div class="wrapper">
        <h1 class="section-header">Gallery</h1>
        <div class="main-content">
            <div class="box" *ngFor="let gallery of gallery">
                <img src="{{gallery.image}}" alt="">
                <div class="img-text">
                    <div class="content">
                        <h1>{{gallery.name}}</h1>
          
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>