*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.flex{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Teko', sans-serif;
    width: 100%;
    min-height: 100vh;    
}
.wrapper{
    width: 80%;
    padding: 30px 0;
    text-align: center;
}
.section-header{

    padding-bottom: 30px;
    align-items: center;
    font-size: 70px;
    
}
.content {
  padding: 10%;
}
.content h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form-control{
    background-color: #fffefe;
    width: 25%;
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
    border: none;
    outline:none;
    border-bottom: 3px solid black;

}
@media screen and (max-width:45em) {
    .form-control{
        width: 100%;
    }
}
input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.main-content{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-main-content-gap: 25px;
    grid-column-gap: 15px;
}
.main-content .box{
    position: relative;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    height: 250px;
    overflow: hidden;    
    border-radius: 3%;
}
.main-content .box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.main-content .box:hover:before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 10;
}
.main-content .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content .box .img-text {
	position: absolute;
    display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.9);
	/* width: 100%; */
	height: 100%;
	top: 0;
	right: 100%;
	transition: all 0.5s ease-in-out;	
}
@media screen and (min-width:50em) {
    .box{

    }
    .img-text{

        width: 100%;
    }

}
.main-content .box:hover .img-text{
    top: 0;
    right: 0;
}


.clearfix {
    align-items: center;
    margin-top: 20px;
    font-size: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.pagination-style{

    color: black;
    background-color: white;
 
    
}
.pagination-style::ng-deep .ngx-pagination .current {
    background: #235f91  !important;
    border-radius: 5px;
    /* margin: 5px; */


}

    /* sets font color for number color when hovering */
    .pagination-style::ng-deep .ngx-pagination a:hover {
        background: #235f91  !important;
        opacity: 0.8;
        color: white;
        border-radius: 5px;
        transition: 0.5s ease;
    }
    

.error-class{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
}