/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4{
     
    text-transform: uppercase;
    line-height: 70px;
    /* padding-bottom: 30px; */
    font-size: 60px;
    color: #262626;
    letter-spacing: 2px;
    font-family: 'Teko', sans-serif;
}