<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<div class="container">
  <div class="row"> 

      <div class="mainPage ">
      <h1 class="focus-in-contract-bck">Welcome to our tourist sites</h1>
      </div>
  </div>

  <!--Cards-->
  <div class="row justify-content-center" >
    <h1 style="margin-top:15%;">Top Cities</h1>
    <div class="card card-city col-xl-3 col-md-4 col-xs-12" *ngFor="let city of cities; "  >
      <img class="card-profile-img" src="{{city.image}}" alt="">
      <div class="card-description-bk"></div>
      <div class="card-name ">
        <p>{{city.name}}</p>
      </div>
      <div class="card-btn">
        <a [routerLink]="['cities',city.id ]">Learn More</a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <h1 style="margin-top:5%;">Explore Hotels in Kosovo</h1>
    <div class="card card-hotel  col-md-4 col-xs-12"  *ngFor="let hotel of hotels;let i=index">
   
      <img class="card-hotel-img"  src="{{hotel.image}}" alt="Card image">
      <div class="card-block">
        <span class="card-hotel-title">{{hotel.cityName}}</span>
      </div>
      <div class="card-block">
        <p class="card-text"> {{ObjectLength(hotel.hotelsFromCity)}} properties</p>
        <a href="#" class="card-link" [routerLink]="['hotels',hotel.id]">Check out </a>
     
      </div>
    </div>
  </div>


 </div>