<div class="container">
    <div class="row"> 

        <div class="mainPage">
            <h1 class="focus-in-contract-bck">Welcome to our tourist sites</h1>
        </div>
    </div>

  <!--Card city -->
  <div class="row justify-content-center">
    <h1 style="margin-top:15%;">Top Cities</h1>
      <div class="card card-city col-xl-3 col-md-4 col-xs-12" *ngFor="let city of cities; "  >
          <img class="card-profile-img" src="{{city.image}}" alt="">
              <div class="card-description-bk"></div>
                <div class="card-name ">
                  <p>{{city.name}}</p>
                </div>
              <div class="card-btn">
                <a [routerLink]="['cities',city.id ]">Learn More</a>
              </div>
      </div>
  </div>

    <!-- Card hotel -->
  <div class="row justify-content-center">
    <h1 style="margin-top:5%;">Explore Hotels in Kosovo</h1>
    <div class="col-md-10 col-xs-12">
    <carousel [itemsPerSlide]="itemsPerSlide"
    [singleSlideOffset]="singleSlideOffset"
    [interval]="0"
    [noWrap]="noWrap">
      <slide class="col-md-5 col-xs-12"  *ngFor="let hotel of hotels;let i=index">
        <div class="card-hotel">


          <img class="card-hotel-img"  src="{{hotel.image}}" alt="Card image"  style="display: block; width: 100%;">
          <div class="card-block">
            <span class="card-hotel-title">{{hotel.cityName}}</span>
          </div>
          <div class="card-block">
            <p class="card-text"> {{ObjectLength(hotel.hotelsFromCity)}} properties</p>
            <a href="#" class="card-link" [routerLink]="['hotels',hotel.id]">Check out </a>
          </div>
          
        </div>
      </slide>
  </carousel>
</div>
  </div>
  
 
  <!-- <carousel [itemsPerSlide]="itemsPerSlide"
            [singleSlideOffset]="singleSlideOffset"
            [interval]="0"
            [noWrap]="noWrap">
    <slide *ngFor="let hotel of hotels;let i=index">
      <img [src]="hotel.image" alt="image slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h4>Slide {{i}}</h4>
      </div>
    </slide>
  </carousel> -->
  
 </div>
 